input {
  &[type="text"],
  &[type="password"],
  &[type="datetime"],
  &[type="datetime-local"],
  &[type="date"],
  &[type="month"],
  &[type="time"],
  &[type="week"],
  &[type="number"],
  &[type="email"],
  &[type="url"],
  &[type="search"],
  &[type="tel"],
  &[type="color"] {
    
    &:focus {
      border-color: $highlight;
      box-shadow: 0 0 6px 0 $highlight;
      outline: 0;
    }
  }
}

// Admin

.admin-customize .themes-list-container .themes-list-item.selected {
  color: $tertiary;
  background-color: #F4F4F4;
}

.admin-controls{
  .nav-pills>li a.active {
    &:hover,
    &:focus{
      color: #fff;
      background-color: #a2a2a2;
      text-decoration: none;
    }
  }
  .nav-pills>li>a:hover, .nav-pills>li>a:focus {
    color:$primary;
    background-color: transparent;
    text-decoration: underline;
  }
}

//Links

a {
  color: $primary;  
  text-decoration: none;
  cursor: pointer;
  &:visited {
    color: $primary;
  }
  &:hover {
    color: $quaternary;
    text-decoration: underline;
  }
  &:active {
    color: $quaternary;
    text-decoration: underline;
  }
}

.fps-result a.search-link:visited {
  color: $tertiary;
  &:hover,
  &:focus{
    text-decoration: none;
  }
}

a.badge-wrapper:visited {
  color: $primary;
  &:hover,
  &:focus{
    text-decoration: none;
  }
}

// Header

.d-header {
  .panel {
    position: 0;
  }
  .header-buttons {
    height:60px;
    margin-top: 0;
    .btn-primary {
      background:none;
      height:100%;
      margin-top:0;
      &:hover{
        background:$quaternary;
      }
    }
  }
  button.login-button {
    margin-left: 0;
  }
  .login-button,  button.sign-up-button{
    height: 100%;
    margin-left:0;
  }
  .hamburger-panel .menu-panel {
    border-bottom:5px solid $tertiary;
  }
  
}

.d-header-icons{ 
  .header-dropdown-toggle{
    height: 60px;
    width: 60px;
    .icon {
      padding-left: 12px;
      margin-top:10px;
      .d-icon {
        color: $secondary;
      }
      &:hover{
        background-color: transparent;
        .d-icon {
          color: $secondary;
        }
      }
      &:focus{
        background-color: transparent;
        .d-icon {
          color: $secondary;
        }
      }
    }
    
  }
  .drop-down-mode & {
    .active .icon {
      &:after {
        border-top:none;  
      }
    }
  }      
  .header-dropdown-toggle.active{
    height: 60px;
    background-color: #EDEDED;
    .icon {
      background-color: #EDEDED;
      border-style: none;
      .d-icon {
        color: $header-background;
      }
    }
    &:nth-child(2){
      background:$quaternary;
      color: $secondary;
      .icon {
        background:$quaternary;
        border-style: none;
        .d-icon {
          color: $secondary;
        }
      }
    }
    &:nth-child(3){
      background:$secondary;
      .icon {
        background:$secondary;
      }
    }
  }
}
.menu-container-general-links {
  color:$primary;
}
.menu-panel {
  border: none;
  background-color: #f4f4f4;
  li,
  li.heading {
    a.widget-link {
      &:hover,
      &:focus {
        background-color: transparent;
        color:$quaternary;
        text-decoration: underline;
      }
    }
  }
  .category-links, .menu-container-admin-links, .menu-container-general-links {
    border-top: 1px solid #D2D2D2;
  }
  hr {
    margin: 0px;
    height: 0px;
  }
}  
.user-menu{
  .menu-panel{
    background-color: $secondary;
    .menu-links-header {
      a {
        color: $quaternary;
        text-decoration: none;
        .fa{
          color: $quaternary;
        }
        .d-label{
          color: $quaternary;
          text-decoration: none;
        }
        &:not(.active):hover,
        &:not(.active):focus {
          color: $secondary;
          background-color: $quaternary;
          text-decoration: none;
          .fa{
            color: $secondary;
          }
          .d-label{
            color: $secondary;
          }
        }
      }  
      
    }
  }
}

.user-menu .quick-access-panel li:hover, 
.user-menu .quick-access-panel li:focus {
  background-color: transparent;
}


//Body

body {
  font-family: "Open-sans",Arial,"Helvetica Neue",Helvetica,sans-serif;
}


// Navigation Bar

.nav-pills>li a.active {
  color: #fff;
  background-color: #00ab99;
  &:hover,
  &:focus{
    color: #fff;
    background-color: #00ab99;
    text-decoration: none;
  }
}

.nav-pills>li>a:hover, .nav-pills>li>a:focus {
  background-color: transparent;
  text-decoration: underline;
}

#navigation-bar.nav-pills {
  > li {
    > a {
      &:hover {
        color:$secondary;
        background-color:$quaternary;
        text-decoration:none;
      }
    }
  }  
}

.list-controls {
  .combo-box .combo-box-header {
    color: $quaternary;
    border: 1px solid #00AB99;
  }
}

.select-kit{ 
  .d-icon {
    color: $primary;
  }
  .select-kit-row.is-highlighted {
    background: #f4f4f4;
    color: $primary;
  }
  .select-kit-row.is-selected {
    background: #ededed;
    color: $primary;
    &:hover,
    &:focus {
      background: #ededed;
      color: $primary;
    }
  }
  .select-kit-row.is-selected.is-highlighted {
    background: #ededed;
    color: $primary;
  }
}

.select-kit.dropdown-select-box .dropdown-select-box-header.is-focused {
  outline-style: none;
  outline-color: none;
}

.select-kit.combo-box .select-kit-header.is-focused {
  border: 1px solid #002b27;
  box-shadow: none;
}

.badge-wrapper.bullet span.badge-category {
  color: $primary;
}

.select-kit.combo-box.category-drop .select-kit-row .badge-wrapper {
  font-weight: normal;
}


// Table

table th {
  font-weight: bold;
  color: $primary;
  tr:nth-child(even) {background: #EDEDED}
  tr:nth-child(odd) {background: #FFF}
}

.topic-list-item.visited a.title:not(.badge-notification){
  color: $quaternary;
  font-weight: 400;
  font-size: 16px;
}

.badge-wrapper {
  font-weight: normal;
}

.badge-posts[href] {
  color: $tertiary;
}

.category-list, .topic-list {
  tbody{
    tr{
      td{
        border-top: 1px solid #D2D2D2 !important;
      }
      &:nth-child(even) {background: #F4F4F4}
      &:nth-child(odd) {background: #FFF}
    }
  }
}   

.category-list th {
  font-weight: 600;
  color: $primary;
}

.category-list tbody .category h3 a[href]{
  color: $quaternary;
  font-weight: 400;
  font-size: 16px;
}

.category-description {
  color: $primary;
  font-weight:400;
  font-size: 16px;
}

// Others

.bootbox.modal .modal-footer a.btn-primary {
  text-decoration: none;
}

.btn[href] {
  color: $primary;
  text-decoration: none;
}

.directory .me {
  background-color: $secondary;
}
